
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  
}
body{
background-color: #f5f6fb;
  /* background-image: linear-gradient(125.9524280000993deg, rgba(193, 148, 63,1) 84.60611979166667%,rgba(238, 205, 108,1) 96.45507812499999%); */
   /* background-image: linear-gradient(108.70463171565802deg, rgba(106, 61, 64,1) 66.10785590277777%,rgba(44, 33, 33,1) 96.67968749999999%); */
/* background-image: linear-gradient(107.12344969849573deg, rgba(193, 148, 63,1) 9.9609375%,rgba(238, 205, 108,1) 98.50260416666666%); */
  animation: move 1s linear infinite forwards;
  min-height: 100vh;
  font-family: 'Inter' sans-serif;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
